<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.markymark.architecture">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".mvp.home.view.HomeActivityMvp">
        </activity>
        <activity android:name=".mvp.login.view.LoginActivityMvp">
        </activity>
        <activity android:name=".mvc.home.view.HomeActivityMvc">
        </activity>
        <activity android:name=".mvc.login.view.LoginActivityMvc">
        </activity>
        <activity android:name=".activity.EntryPointActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvi.login.view.LoginActivityMvi"/>
        <activity
                android:name=".mvvm.login.view.LoginActivityMvvm"
                android:label="@string/login"/>
        <activity
                android:name=".mvvm.home.view.HomeActivityMvvm"
                android:label="@string/home"/>
        <activity
                android:name=".mvi.home.view.HomeActivityMvi"
                android:label="@string/home"/>
    </application>

</manifest>